@tailwind base;
@tailwind components;
@tailwind utilities;


body{background: #ccc !important;}

.main .sidebarWrapper {height: 100vh;}
.main .sidebarWrapper .sidebar{height: 100vh; background: #fff;}
.main .sidebarWrapper .sidebar .sidebarTabs button {justify-content: flex-start !important;}